# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Node / Angular
node_modules/
dist/
.angular/

# Python
__pycache__/
*.pyc
.pytest_cache/
venv/
.venv/
*.db

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Logs
*.log
